.containerGif{
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 60px auto;
}


.containerGif h4{
    margin: 10px auto;
    font-size: 20px;
}
.containerGif small{
    color: gray;
    margin-bottom: 20px;
    font-size: 10px;
}

i{
    font-size: 20px;
}