h3{
    margin: 10px auto
}

ul{
    display: flex;
    width: 90%;
    margin: auto;
    max-width: 700px;
}
ul li{
    margin:10px auto;
    
}
input{
    width: 30%;
    min-width: 230px;
    padding: 2px 10px;
    border-radius: 10px;
}
button{
    margin-left: 10px;
    border-radius: 50%;
    padding: 5px;
    border: none;
    background-color: cyan;
}