*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  font-family: sans-serif;
}

ul{
  list-style: none;
}

a{ 
  text-decoration: none;
  color: white;
}