h1{
    margin: 20px auto;
    font-size: 70px;
    cursor: pointer
}

#span1{
    color: cyan;
}

#span2{
    color: rgb(8, 177, 255)
}

#span3{
    color: rgb(0, 72, 255)
}
#span4{
    color: rgb(0, 102, 255)
}
